.footer{
    flex-direction: column;
    // height: 100vh;

    @include breakpoint-up(lg){
        flex-direction: row;
        height: 40vh;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    h4{
        text-transform: uppercase;
        font-size: $font-lg;
        margin-bottom: 0;
        color: black;

        @include breakpoint-up(lg){
            margin-bottom: 1rem;
        }
    }

    a{
        color: #000;

        &:hover{
            color: $blue;
        }
    }

    &__about{
        flex-direction: column;

        @include breakpoint-up(lg){
            margin-bottom: 2rem;
        }

        a{
            margin-bottom: .3rem;
        }
    }
    &__collaborate{
        flex-direction: column;
    }

    &__support{
        flex-direction: column;
        margin-bottom: 1rem;

        a{
            margin-bottom: .3rem;
        }
    }

    &__logo{

        .footer-img{
            height: 1.7rem;
            width: auto;
            margin-top: 2rem;
        }
    }

    &__copyright{
        margin-top: 1rem;
    }

}