html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: "Rubik", sans-serif;
    color: #000;
    font-size: $font-sm;
    background-color: #f5f5f5;

    
}

a, a:visited, a:hover{
    text-decoration: none;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter{
    filter: invert(13%) sepia(28%) saturate(2196%) hue-rotate(172deg) brightness(94%) contrast(101%);
}

// Flexbox
.flex{
    display: flex;

    &-jc-sb{
        justify-content: space-between;
    }

    &-jc-se{
        justify-content: space-evenly;
    }

    &-jc-c{
        justify-content: center;
    }

    &-ai-c{
        align-items: center;
    }
    

    &-column{
        flex-direction: column;
    }
}

// Spacing
.container{


    &--pall{
        padding: .75rem 1.5rem;
    }
    &--py{
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    &--px{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    &--pt{
        padding-top: .75rem;
    }
    &--pr{
        padding-right: 1.5rem;
    }
    &--pb{
        padding-bottom: .75rem;
    }
    &--pl{
        padding-left: 1.5rem;
    }

}

// Button style
.btn{
    width: 100%;
    height: 35px;
    cursor: pointer;
    color: $darkBlue;
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid $blue;
    border-radius: 4px;
    font-family: "Rubik", sans-serif;
    transition: all 300ms ease;

    @include breakpoint-up(lg){
        width: 10rem;
        height: 40px;
    }
    
    
    &:hover{
        transform: scale(1.01);
        background-color: white;
        
    }
}

// Visibility
.hide-for-mobile{
    // hide for mobile and tablet devices
    @include breakpoint-down(md){
        display: none;
    }
}

.hide-for-desktop{
    // hide for desktop vieport widths
    @include breakpoint-up(lg){
        display: none;
    }
}

::placeholder{
    color: #f5f5f5;
    
}