.header{
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255);

    .btn{
        margin-top: 1rem;
        

        @include breakpoint-up(lg){
            width: 100px; 
            margin-top: 0;
        }
    }

    // Hamburger open styles
    &.open{
        .overlay{
            display: block;
        }

        .header__menu{
            > span:first-child{
                transform: rotate(45deg);
            }
        
            > span:nth-child(2){
                opacity: 0;
            }
        
            > span:last-child{
                transform: rotate(-45deg);
            }
        }
}

    .overlay{
        // display: none;
        // pointer-events: all;
        // overflow: hidden;
        padding: 1.6rem;
        visibility: hidden;
        opacity: 0;
        background-color:#fff;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        a:first-child{
            margin-top: 2rem;
        }

        a{
            color: $darkBlue;
            display: block;
            padding: 1.5rem 1rem 1rem 0rem;
            text-align: left;
            border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
        }
}
    nav{
        position: relative;
        // padding: 12px 16px;

        @include breakpoint-up(lg){
            padding: 1rem 3.265rem;
            height: 57px;
        }
    }

    &__menu{ // Mobile menu
        // z-index: 1;

        > span{
            display: block;
            width: 20px;
            height: 2px;
            background-color: $darkBlue;
            transition: all 300ms ease-in-out;
            transform-origin: 1px 1px;


            &:not(last-child){
                margin-bottom: 4.5px;
            }
        }

       

    }

    &__logo{
        
        .img-logo{
            height: 20px;
            width: auto;
        }
    }

    &__links{

        a{
            display: inline-block;
            line-height: 57px;
            height: 57px;
            position: relative;
            font-size: $font-xs;
            color: $darkBlue;
            font-weight: 500;
            text-transform: uppercase;
            

            &:not(last-child){
                margin-right: 32px;
            }

            &::before{
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                left: 0;
                right: 0;
                bottom: 0px;
                opacity: 0;
                transition: opacity 200ms ease-in-out;
            }
            
            &:hover{

                &::before{
                    background-color: $darkBlue;
                    opacity: 1;
                }

            }
        }
    }

    &__profile{
        
        .icon-profile{
            height: 18px;
            width:auto;
            
            @include breakpoint-up(lg){
                margin-left: 35px;
            }
        }
    }
}

