// Colors
$blue : #0a3860;
$lightBlue : #135d9d;
$darkBlue : #042440;

// Font sizes
$font-xs: .875rem; //14px
$font-sm: 1rem; //16px
$font-md: 1.125rem; //18
$font-lg: 1.375rem; //22px
$font-xl: 1.6875rem; //27px
