@import 'variables';

.vapes {
  padding-top: 10rem;
  padding-bottom: 8rem;
  background-color: #f1f1f1;

  .card-btn {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    font-weight: 500;
    background: #fff;
    border: 1.5px solid black;
    color: #000;
    display: inline-block;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    width: 100%;
    margin: 0;
    border-radius: 4px;
  }

  .card-btn:first-child {
    background-color: $darkBlue;
    color: white;
  }
}


  
